<div class="related-stories row">
    <h3> Find more stories </h3>

        {% for row in COPY.related_stories %}
        <div class="story">
            <div class="color-overlay"></div>
            <h4 class="story-title">{{ row.headline }} </h4>
            <a href="{{ row.link }}" target="_blank"><img class="img-responsive" src="{{ row.image_link }}"></a>
        </div>
        {% endfor %}
</div>

        <div class="secondary">
            <ul>
                <li id="footerSignup"><a href="https://www.wbez.org/connect">Sign up for our newsletter</a></li>
                <li id="footerContact"><a href="http://www.wbez.org/contact">Contact us</a>
                </li>
                <li id="footerSupport"><a href="https://www.chicagopublicmedia.org/give/support-wbez-0">
                Donate to WBEZ </a><i class="fa fa-heart" aria-hidden="true"></i></li>
                <li id="footerPrivacy"><a href="https://www.chicagopublicmedia.org/page/privacy-policy">Privacy Policy</a></li>
            </ul>
            <p>&copy;2018 WBEZ</p>

        </div>
